.sidebar {
  width: 220px;
  height: 100vh;
  background: linear-gradient(180deg, #0f172a, #1e293b);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
}

/* HEADER */
.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-header h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.sidebar-header p {
  font-size: 12px;
  color: #94a3b8;
}

/* MENU */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 10px 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #e2e8f0;
  transition: 0.3s;
}

.link:hover {
  background: #334155;
}

.link.active {
  background: #22c55e;
  color: #fff;
  font-weight: bold;
}

/* FOOTER */
.sidebar-footer {
  text-align: center;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  background: #ef4444;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 300px;
}

.logout-btn:hover {
  background: #dc2626;
  
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
}