
/* Footer */

footer{
  background:#072654;
  color:white;
  display: flex;
  flex-direction: column;
}

.footer-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.footer-section{
  background:#072654;
  color:white;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.footer-logo{
  width: 200px;
  height: auto;
}

footer h2{
  margin-bottom:10px;
}

.quick-section p{
  margin:8px 0;
}

.contact-section p{
  margin:8px 0;
}

.support-section p{
  margin:8px 0;
}

.logo-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-section p{
    font-size:15px;
}

.footer-section h3{
    font-size:20px;
    margin-bottom:15px;
    font-weight:700;
}

.footer-section ul{
    list-style:none;
}

.footer-section ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.footer-section ul li a:hover{
    color:#00d4ff;
}

.footer-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer-image img{
    width:320px;
    max-width:100%;
    margin-top: -30px;
}

.footer-bottom{
    text-align:center;
    padding:15px;
    border-top:1px solid rgba(255,255,255,0.2);
    font-size:18px;
}

/* Responsive */

@media(max-width:992px){

    .footer-container{
        flex-direction:column;
        text-align:center;
        align-items:center;
    }

    .footer-image img{
        width:250px;
    }

    .logo-section{
        max-width:100%;
    }
}