.pending {
  color: orange;
  font-weight: bold;
}

.approved {
  color: green;
  font-weight: bold;
}

.rejected {
  color: red;
  font-weight: bold;
}

.bigdiv{
  width: 100%;
  
  

}

#h2{
  width: 100%;
  
}


