.admin-sidebar{
    width:260px;
    height:100vh;
    background:#0f172a;
    color:#fff;
    position:fixed;
    left:0;
    top:0;
    transition:.3s;
    overflow-y:auto;
}

.admin-sidebar.close{
    width:80px;
}

.logo{
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.logo h2{
    color:#fff;
    font-size:26px;
}

.admin-sidebar ul{
    list-style:none;
    padding:15px 0;
}

.admin-sidebar ul li{
    margin:8px 12px;
}

.admin-sidebar ul li a{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:#cbd5e1;
    padding:12px 15px;
    border-radius:10px;
    transition:.3s;
}

.admin-sidebar ul li a svg{
    font-size:20px;
    min-width:22px;
}

.admin-sidebar ul li a:hover{
    background:#2563eb;
    color:#fff;
}

.admin-sidebar ul li a.active{
    background:#2563eb;
    color:#fff;
}

.admin-sidebar.close span{
    display:none;
}

.admin-sidebar.close .logo h2{
    font-size:20px;
}

@media(max-width:768px){

.admin-sidebar{
    left:-260px;
}

.admin-sidebar.open{
    left:0;
    z-index:9999;
}

}
