.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 10px 20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.role {
  background: #007bff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}