/* ===== FINAL FIX ===== */

.cards{
  margin-left: 180px !important;
}

.card{
  margin-left: 40px !important;
}

.newdiv{
  width: 100%;
  margin-left: 180px !important;
}

.section{
  margin-left: 180px !important;
}

.recommend{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  margin-left: 180px!important;
}

.med-card{
  background: #ecb6b6;
  border-radius: 20px;
  padding: 20px;
  min-height: 0px;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.med-card:hover{
  transform: translateY(-6px);
}

.med-card p:first-child{
  font-size: 18px;
  font-weight: 600;
  color: #111827;

}

.med-card p:nth-child(2){
  color: #6b7280;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 180px;
}

.med-card button{
  width: 100%;
  margin-top: 15px;
  padding: 12px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(
    135deg,
    #4f46e5,
    #7c3aed
  );

  color: white;
  font-weight: 600;
  cursor: pointer;
}

.nav-h2{
  margin-left: 200px !important;
}

.input1{
  margin-left: 200px !important;
}