.layout{
    display:flex;
    min-height:100vh;
    background:#f4f6f9;
}

.main-content{
    flex:1;
    transition:.3s;
    width:100%;
}

.sidebar-open{
    margin-left:260px;
}

.sidebar-close{
    margin-left:80px;
}

.page-content{
    padding:25px;
}

@media(max-width:768px){

.sidebar-open,
.sidebar-close{
    margin-left:0;
}

.page-content{
    padding:15px;
}

}